{% extends 'base.html' %}



{% block body %}
     <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                    
                    {% for object in posts %}
                        
                      <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{object.publish_date|date:'D'}}</h3>
                                    <h3>{{object.publish_date|date:'M'}}</h3>
                                 
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'blog:post-detail' object.slug %}">
                                    <h2>{{object.title}}</h2>
                                </a>
                                <p>{{object.content|truncatewords:50|safe}}</p>
                                <ul class="blog-info-link">
                                  
                                    <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                   {% endfor %} 
                    
                   
                   {% if posts.has_other_pages %}
                    
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">

                            
                            {% if posts.has_previous %}
                                
                                <li class="page-item">
                                    <a href="?page={{posts.previous_page_number}}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                             {% endif %}

                            
                            {% for i in posts.paginator.page_range %}
                                
                          
                                
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                           
                              {% endfor %}

                            
                            {% if posts.has_next %}
                                
                                <li class="page-item">
                                    <a href="?page={{posts.next_page_number}}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                             {% endif %}


                            </ul>
                        </nav>
                     {% endif %}


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                        
                        {% for item in categories  %}
                             
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>{{item.name}}</p>
                                     
                                    </a>
                                </li>
                        {% endfor %}
                         
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                        
                        {% for object in posts %}
                            
                        
                            <div class="media post_item">
                                <img src="" alt="post">
                                <div class="media-body">
                                    <a href="{% url 'blog:post-detail' object.slug %}">
                                        <h3>{{object.title}}</h3>
                                    </a>
                                    <p>{{object.publish_date|date:'D-M-Y'}}</p>
                                </div>
                            </div>
                        
                         
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                              {% for tag in object.tags.all %}
      
                                    <li>
                                        <a href="#">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                           
                            </ul>
                        </aside>

                          {% endfor %}


                    


                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock body %}
    